@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
/* 
@media (hover: hover) {
  a:hover {
    background-color: hsl(160, 98%, 49%);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.modal {
  --bs-modal-bg: var(--color-background);
}

/** Timer **/
.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}
.e-c-progress {
  fill: none;
  stroke: #EC564F; /** #EC564F 51B170 **/
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
  fill: #FFF;
  stroke: #51B170;
  stroke-width: 2px;
}
.circle {
  text-align: center;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 0 0.5em;
  border: solid #bbb 1px;
}

.dot-filled {
  height: 25px;
  width: 25px;
  background-color: #51B170;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 0 0.5em;
  border: solid #bbb 1px;
}

/** SVG icons **/
.small-svg {
  width: 1rem;
  height: 1rem;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}