#Ignore Mac System files
.DS_store 

#Ignore these folders
__pycache__
venv
specifications

#Ignore environment files
*.env 
*.flaskenv

#Ignore all text files
*.txt 

#Ignore SASS config files
.sass-cache

#Ignore the log files
*.log

#Ignore images
*.png
*.jpg
